<h1>Welcome to Restofka</h1>


<h2>Get list of feeds</h2>

<h3>Request</h3>
<pre>GET /feeds.json</pre>
<h3>Response</h3>
<pre>
200
[
   {
      "id":2,
      "message":"moje prvni zprava",
      "image":{
         "image":{
            "url":"/uploads/feed/image/2/darujspravne.png",
            "thumb":{
               "url":"/uploads/feed/image/2/thumb_darujspravne.png"
            },
            "thumb_retina":{
               "url":"/uploads/feed/image/2/thumb_retina_darujspravne.png"
            },
            "gallery":{
               "url":"/uploads/feed/image/2/gallery_darujspravne.png"
            },
            "gallery_retina":{
               "url":"/uploads/feed/image/2/gallery_retina_darujspravne.png"
            }
         }
      },
      "account":{
         "nick":"kuba hladik"
      },
      "url":"http://bi-ios-2013_server.hippotaps.com/feeds/2.json"
   }
]
</pre>

<h2>Create new feed</h2>

<h3>Request</h3>
<pre>POST /feeds.json</pre>
<pre>
{
  "feed" : {
	  "account_id" : 7,
	  "message" : "ahoj hello dobry den"
  }
}
</pre>
<h3>Response</h3>
<pre>
201
</pre>

<h2>Create new feed with image</h2>

<h3>Request</h3>
<pre>POST /feeds (HTTP multipart)</pre>
<h4>Header</h4>
<pre>
Content-Type: multipart/form-data; boundary=Boundary+0xAbCdEfGbOuNdArY
</pre>
<h4>Body</h4>
<pre>
--Boundary+0xAbCdEfGbOuNdArY
Content-Disposition: form-data; name="feed[account_id]"

7
--Boundary+0xAbCdEfGbOuNdArY
Content-Disposition: form-data; name="feed[message]"

2013-10-30 08:58:30 +0000
--Boundary+0xAbCdEfGbOuNdArY
Content-Disposition: form-data; name="feed[image]"; filename="photo.png"
Content-Type: image/png

?PNG binary image data
</pre>
<h3>Response</h3>
<pre>
201
</pre>

<h2>Delete feed</h2>

<h3>Request</h3>
<pre>DELETE /feeds/id.json</pre>

<h3>Response</h3>
<pre>
204
</pre>

<h2>Create account</h2>

<h3>Request</h3>
<pre>POST /accounts.json</pre>
<pre>
{
  "account" : {
    "login" : "tady si neco vymyslete, zatim nepouzite",
    "nick" : "vas nick",
    "token" : "notifikancni token"
  }
}
</pre>
<h3>Response</h3>
<pre>
201
</pre>

<h2>Destroy account</h2>
Note: this deletes existing account-related feeds.
<h3>Request</h3>
<pre>DELETE /accounts/id.json</pre>
<h3>Response</h3>
<pre>
204
</pre>


<h2>Update notification token</h2>

<h3>Request</h3>
<pre>PUT /accounts/id.json</pre>
<pre>
{
  "account" : {
    "token" : "notifikancni token"
  }
}
</pre>
<h3>Response</h3>
<pre>
204
</pre>